@font-face {
	font-family: SCARY;
	src: url("FONTS/OMORI_GAME.ttf");
}

@font-face {
	font-family: NORMAL;
	src: url("FONTS/OMORI_GAME2.ttf");
}

body {
	background-color: black;

}

.key {
	display: flex;
	justify-content: right;
}

.esc {
	height: 100px;
	width: auto;
	top: 0;
	right: 0;
}

.audio {
	position: absolute;
	margin-top: 25px;
	z-index: 2;
	opacity: .3;
}

.bg {
	position: absolute;
	margin-top: 10%;
	margin-left: 33%;
	height: 450px;
	width: auto;
	z-index: 1;
}

/*DOORS*/

.door {
	position: absolute;
	height: 423px;
	width: auto;
	margin-top: -75px;
	margin-left: 175px;
	z-index: 1;
	animation-name: fade;
	animation-delay: 3s;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.door1 {
	position: absolute;
	height: 150px;
	width: auto;
	margin-left: 440px;
	margin-top: -20px;
	z-index: 2;
}

.door2 {
	position: absolute;
	height: 150px;
	width: auto;
	margin-left: 900px;
	margin-top: -75px;
	z-index: 2;
}

.door3 {
	position: absolute;
	height: 150px;
	width: auto;
	margin-left: 55px;
	z-index: 2;
}

.door4 {
	position: absolute;
	height: 150px;
	width: auto;
	margin-left: 1250px;
	margin-top: 100px;
	z-index: 2;
}

.red_door {
	position: absolute;
	height: 423px;
	width: auto;
	z-index: 1;
	margin-top: -75px;
	margin-left: 175px;
}

/*LINKS*/

.link1 {
	position: absolute;
	height: 150px;
	width: auto;
	margin-top: 400px;
	z-index: 3;
	padding-left: 20px;
	padding-right: 20px;
}

.link2 {
	position: absolute;
	height: 150px;
	width: auto;
	margin-top: 400px;
	margin-left: 350px;
	z-index: 3;
	padding-left: 20px;
	padding-right: 20px;
}

.link3 {
	position: absolute;
	height: 150px;
	width: auto;
	margin-top: 400px;
	margin-left: 1025px;
	z-index: 3;
	padding-left: 20px;
	padding-right: 20px;
}

.link4 {
	position: absolute;
	height: 150px;
	width: auto;
	margin-top: 400px;
	margin-left: 1350px;
	z-index: 3;
	padding-left: 20px;
	padding-right: 20px;
}

/*ANIMATIONS*/

@keyframes fade {
	from {opacity: 1}
	to {opacity: 0}
}