@font-face {
	font-family: SCARY;
	src: url("FONTS/OMORI_GAME.ttf");
}

@font-face {
	font-family: NORMAL;
	src: url("FONTS/OMORI_GAME2.ttf");
}

body {
	background-color: #7500ff;

}

.key {
	display: flex;
	justify-content: right;
}

.esc {
	height: 100px;
	width: auto;
	top: 0;
	right: 0;
}

.audio {
	position: absolute;
	margin-top: 25px;
	z-index: 2;
	opacity: .5;
}

.bg {
	position: absolute;
	margin-top: -5%;
	margin-left: 33%;
	height: 650px;
	width: auto;
	z-index: 1;
}

/*Links on bottom of bg image*/

.link1{
	position: absolute;
	z-index: 2;
	height: 50px;
	margin-top: 33%;
	margin-left: 37%;
}

.link2{
	position: absolute;
	z-index: 2;
	height: 50px;
	margin-top: 33%;
	margin-left: 43%;
}

.link3{
	position: absolute;
	z-index: 2;
	height: 45px;
	margin-top: 34%;
	margin-left: 52%;
}

.link4{
	position: absolute;
	z-index: 2;
	height: 50px;
	margin-top: 33%;
	margin-left: 58%;
}